{% extends "base.html" %}
{% block title %}Добро пожаловать!{% endblock %}
{% block content %}
<div class="container">

			<div class="row">
				<div class="col-xs-12 top">
					<a href="http://www.zoocomfort.ru">
						интернет-магазин<br>
						www.zoocomfort.ru
					</a>
					<a  data-toggle="modal" href="#" data-target="#myModal">
						<img src="/static/img/base/button.png">
						<p>Отправить заявку</p>
					</a>
				</div>
			</div>

			<div class="row">
			
				<div class="col-xs-12 header">
					<img src="/static/img/base/line-1.png">
					<img class="animal-left" src="/static/img/base/cat-header.png">
					<h1>корма для <span class="brown">кошек</span></h1>
					<img class="animal-right" src="/static/img/base/cat-header.png">
					<img src="/static/img/base/line-2.png">
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 left-words">
						<h2>премиум</h2>
					</div>
						<div class="col-xs-6 right-words">
						<h2><span class="super">супер </span>премиум</h2>
					</div>
						
					<div class="col-xs-6 left">
						
						<img src="/static/img/cat-blocks/cats_1_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						
						<img src="/static/img/cat-blocks/cats_1_2.jpg">
					</div>

					<img src="/static/img/base/line-1.png">

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_2_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_2_2.jpg">
					</div>
					
					<div class="col-xs-12 call-block">
						<img src="/static/img/base/phone-number.png">
						<img src="/static/img/base/phone.png">
						<a href="#" data-toggle="modal" data-target="#myModal">
							<img src="/static/img/base/button.png">
							<p>Отправить заявку</p>
						</a>
					</div>

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_3_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_3_2.jpg">
					</div>
					<img src="/static/img/base/line-1.png">

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_4_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_4_2.jpg">
					</div>
					<div class="col-xs-12 call-block">
						<img src="/static/img/base/phone-number.png">
						<img src="/static/img/base/phone.png">
						<a href="#" data-toggle="modal" data-target="#myModal">
							<img src="/static/img/base/button.png">
							<p>Отправить заявку</p>
						</a>
					</div>

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_5_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_5_2.jpg">
					</div>
					<img src="/static/img/base/line-1.png">
					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_6_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_6_2.jpg">
					</div>
					<div class="col-xs-12 call-block">
						<img src="/static/img/base/phone-number.png">
						<img src="/static/img/base/phone.png">
						<a href="#" data-toggle="modal" data-target="#myModal">
							<img src="/static/img/base/button.png">
							<p>Отправить заявку</p>
						</a>
					</div>

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_7_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_7_2.jpg">
					</div>
					<img src="/static/img/base/line-1.png">

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_8_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_8_2.jpg">
					</div>
					<div class="col-xs-12 call-block">
						<img src="/static/img/base/phone-number.png">
						<img src="/static/img/base/phone.png">
						<a href="#" data-toggle="modal" data-target="#myModal">
							<img src="/static/img/base/button.png">
							<p>Отправить заявку</p>
						</a>
					</div>

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_9_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_9_2.jpg">
					</div>
					<img src="/static/img/base/line-1.png">

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_10_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_10_2.jpg">
					</div>
					<img src="/static/img/base/line-1.png">

					<div class="col-xs-6 left">
						<img src="/static/img/cat-blocks/cats_11_1.jpg">
						<span class="timer">
							<script type="text/javascript">
								var myCountdown1 = new Countdown({
									time: 86400 * 4, // 86400 seconds = 1 day
									width:170,
									height: 60,
									rangeHi: "day",
									style: "flip"
								});
							</script>
						</span>
						<div class="col-xs-2 separator-block">
							<span class="separator"></span>
							<span class="separator"></span>
							<span class="separator"></span>
						</div>
					</div>
					<div class="col-xs-6 right">
						<img src="/static/img/cat-blocks/cats_11_2.jpg">
					</div>
					
					<div class="col-xs-12 call-block">
						<img src="/static/img/base/phone-number.png">
						<img src="/static/img/base/phone.png">
						<a href="#" data-toggle="modal" data-target="#myModal">
							<img src="/static/img/base/button.png">
							<p>Отправить заявку</p>
						</a>
					</div>

				</div>

		</div>
{% endblock %}